model:
  target: spamo.t5_slt.FlanT5SLT
  params:
    use_in_context: false
    num_in_context: 0
    lr: 0.0006
    monitor: val/bleu4
    model_name: google/flan-t5-xl
    cache_dir: /work/tesi_ztesta/models_cache
    input_size: 2048
    inter_hidden: 768
    beam_size: 5
    max_frame_len: 512
    max_txt_len: 64
    frame_sample_rate: 1
    prompt: Translate the given sentence into {}.
    tuning_type: lora
    lora_r: 16
    lora_alpha: 32
    lora_dropout: 0.1
    fusion_mode: joint
    warm_up_steps: 0
    cross_modal_align: true
    combined_loss: true
    alpha: 1.0
lightning:
  callback:
    learning_rate_logger:
      target: pytorch_lightning.callbacks.LearningRateMonitor
      params:
        logging_interval: step
  trainer:
    accelerator: gpu
    devices: 1
    max_epochs: 500
    check_val_every_n_epoch: 2
    accumulate_grad_batches: 4
    gradient_clip_val: 1.0
    precision: bf16
    num_sanity_val_steps: 0
data:
  target: dataset.datamodule.DataModuleFromConfig
  params:
    batch_size: 4
    num_workers: 2
    train:
      target: dataset.how2sign.How2Sign
      params:
        manifest: /homes/ztesta/SpaMo/dataset/how2sign_spamo_info.json
        how2sign_root: /work/tesi_ztesta/How2Sign
        feat_root: /work/tesi_ztesta/features/how2sign/vit_feat_s2
        spatial: true
        spatial_postfix: _s2wrapping
        mae_feat_root: /work/tesi_ztesta/features/how2sign/mae_feat
        spatiotemporal: true
        spatiotemporal_postfix: _overlap-8
        mode: train
        lang: English
    validation:
      target: dataset.how2sign.How2Sign
      params:
        manifest: /homes/ztesta/SpaMo/dataset/how2sign_spamo_info.json
        how2sign_root: /work/tesi_ztesta/How2Sign
        feat_root: /work/tesi_ztesta/features/how2sign/vit_feat_s2
        spatial: true
        spatial_postfix: _s2wrapping
        mae_feat_root: /work/tesi_ztesta/features/how2sign/mae_feat
        spatiotemporal: true
        spatiotemporal_postfix: _overlap-8
        mode: val
        lang: English
    test:
      target: dataset.how2sign.How2Sign
      params:
        manifest: /homes/ztesta/SpaMo/dataset/how2sign_spamo_info.json
        how2sign_root: /work/tesi_ztesta/How2Sign
        feat_root: /work/tesi_ztesta/features/how2sign/vit_feat_s2
        spatial: true
        spatial_postfix: _s2wrapping
        mae_feat_root: /work/tesi_ztesta/features/how2sign/mae_feat
        spatiotemporal: true
        spatiotemporal_postfix: _overlap-8
        mode: test
        lang: English
